﻿<!DOCTYPE html>

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

	<title>Wolfpack</title>
	<meta name="description" content="Wolfpack Web Interface"/>
	<meta name="author" content="James Simmonds"/>

	<!-- http://davidbcalhoun.com/2010/viewport-metatag -->
	<meta name="HandheldFriendly" content="True"/>
	<meta name="MobileOptimized" content="320"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

	<!-- For all browsers -->
	<link rel="stylesheet" href="/content/css/reset.css?v=1"/>
	<link rel="stylesheet" href="/content/css/style.css?v=1"/>
	<link rel="stylesheet" href="/content/css/colors.css?v=1"/>
	<link rel="stylesheet" media="print" href="/content/css/print.css?v=1"/>
	<!-- For progressively larger displays -->
	<link rel="stylesheet" media="only all and (min-width: 480px)" href="/content/css/480.css?v=1"/>
	<link rel="stylesheet" media="only all and (min-width: 768px)" href="/content/css/768.css?v=1"/>
	<link rel="stylesheet" media="only all and (min-width: 992px)" href="/content/css/992.css?v=1"/>
	<link rel="stylesheet" media="only all and (min-width: 1200px)" href="/content/css/1200.css?v=1"/>
	<!-- For Retina displays -->
	<link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="/content/css/2x.css?v=1"/>

	<!-- Webfonts -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'/>

	<!-- Additional styles -->

	<!-- JavaScript at bottom except for Modernizr -->
	<script src="/content/js/libs/modernizr.custom.js"></script>

	<!-- For Modern Browsers -->
	<link rel="shortcut icon" href="/content/img/favicons/favicon.png"/>
	<!-- For everything else -->
	<link rel="shortcut icon" href="/content/img/favicons/favicon.ico"/>
	<!-- For retina screens -->
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/content/img/favicons/apple-touch-icon-retina.png"/>
	<!-- For iPad 1-->
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/content/img/favicons/apple-touch-icon-ipad.png"/>
	<!-- For iPhone 3G, iPod Touch and Android -->
	<link rel="apple-touch-icon-precomposed" href="/content/img/favicons/apple-touch-icon.png"/>

	<!-- iOS web-app metas -->
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

	<!-- Startup image for web apps -->
	<link rel="apple-touch-startup-image" href="/content/img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)"/>
	<link rel="apple-touch-startup-image" href="/content/img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)"/>
	<link rel="apple-touch-startup-image" href="/content/img/splash/iphone.png" media="screen and (max-device-width: 320px)"/>

	<!-- Microsoft clear type rendering -->
	<meta http-equiv="cleartype" content="on"/>
	
	<link rel="stylesheet" href="/content/css/styles/modal.css"/>
	
	@RenderSection("PageStyles", required: false)
</head>

<body class="clearfix with-shortcuts">

	<!-- Prompt IE 6 users to install Chrome Frame -->
	<!--[if lt IE 7]><p class="message red-gradient simpler">Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->

	<!-- Title bar -->
	<header role="banner" id="title-bar">
		<h2>Wolfpack Web Interface</h2>
	</header>
	
	<a href="#" id="open-shortcuts"><span class="icon-thumbs"></span></a>

	<!-- Main content -->
	<section role="main" id="main">

		<!-- Visible only to browsers without javascript -->
		<noscript class="message black-gradient simpler">Your browser does not support JavaScript! Some features won't work as expected...</noscript>

		<!-- Main title -->
		<hgroup id="main-title" class="thin">
			@RenderSection("Header", required: true)            
			<h2>@DateTime.Now.ToString("MMM")<strong>@DateTime.Now.ToString("dd")</strong></h2>
		</hgroup> 

		<!-- The padding wrapper may be omitted -->
		<div class="with-padding">

			<!-- Main content here -->
			@RenderBody()
		</div>

	</section>
	<!-- End main content -->

	<!-- Side tabs shortcuts -->
	<ul id="shortcuts" role="complementary" class="children-tooltip tooltip-right">
		<li id="shortcutStatus"><a href="/status" class="shortcut-dashboard" title="Status">Status</a></li>
		<li id="shortcutConfiguration"><a href="/configuration/tagcloud" class="shortcut-settings" title="Configuration">Configuration</a></li>
		<li id="shortcutActivity"><a href="/activity" class="shortcut-messages" title="Activity">Activity</a></li>
	</ul>

	<!-- JavaScript at the bottom for fast page loading -->

	<!-- Scripts -->
	<script src="/content/js/libs/jquery-1.9.1.min.js"></script>
	<script src="/content/js/setup.js"></script>

	<!-- Libs go here -->	

	@RenderSection("PageScript", required: false)
</body>
</html>