@using System.Linq
@inherits ViewPage<Wolfpack.Core.WebServices.Interfaces.Messages.StatusResponse>

@*
column layout css3: http://www.onenaught.com/posts/201/use-css-displaytable-for-layout
handdrawn icons: http://olawolska.com/#about
*@

<div class="block anthracite-gradient glow">
	<h3 class="block-title anthracite-gradient glow">Agent Information</h3>
	<div class="with-padding">

		<!-- content here -->
		<div style="float: left">
			<img src="/content/img/agent.png"/>
		</div>
		
		<div style="display: inline-block; padding-left: 15px;">
			<p class="button-height inline-large-label white">        
				<label class="label">Site</label>
				<span>@Model.Info.SiteId</span>
			</p>
			<p class="button-height inline-large-label white">        
				<label class="label">Agent</label>
				<span>@Model.Info.AgentId</span>
			</p>
			<p class="button-height inline-large-label white">
				<label class="label">Started</label>
				<span>@Model.Info.DiscoveryStarted.ToString("dd-MMM-yyyy hh:mm:ss")</span>
			</p>
		</div>
	</div>
</div>


@if (Model.Info.UnhealthyActivities.Any())
{
	<div class="block anthracite-gradient glow margin-top">
		<h3 class="block-title red-gradient glow">Unhealthy Activities</h3>
		<div class="with-padding">

			<!-- content here -->
			@foreach (var item in Model.Info.UnhealthyActivities)
			{
				<div>@item.Name (<span style="font-style:italic;">@item.Description</span>)</div>
			}
		</div>
	</div>
}

@if (Model.Info.UnhealthyChecks.Any())
{
	<div class="block anthracite-gradient glow margin-top">
		<h3 class="block-title red-gradient glow">Unhealthy Checks</h3>
		<div class="with-padding">

			<!-- content here -->
			@foreach (var item in Model.Info.UnhealthyChecks)
			{
				<div>@item.Name (<span style="font-style:italic;">@item.Description</span>)</div>
			}
		</div>
	</div>
}

@if (Model.Info.Activities.Any())
{
	<div class="block anthracite-gradient glow margin-top">
		<h3 class="block-title anthracite-gradient glow">Activities</h3>
		<div class="with-padding">

			<!-- content here -->
			@foreach (var item in Model.Info.Activities)
			{
				<div style="display: block; padding-top: 15px;">
					<div>@item.Name (<span style="font-style:italic;">@item.Description</span>)</div>
				</div>
			}
		</div>
	</div>
}

@if (Model.Info.Checks.Any())
{
	<div class="block anthracite-gradient glow margin-top">
		<h3 class="block-title anthracite-gradient glow">Checks</h3>
		<div class="with-padding">

			<!-- content here -->
			@foreach (var item in Model.Info.Checks)
			{
				<div style="display: block; padding-top: 15px;">
					<div>@item.Name (<span style="font-style:italic;">@item.Description</span>)</div>
				</div>
			}
		</div>
	</div>
}

@section Header {
	<h1>System Status: @Model.Status</h1>
}

@section PageScript {
	<script type="text/javascript" language="javascript">
		$(document).ready(function () {
			$('#shortcutStatus').addClass('current');
		});
	</script>
}